<!DOCTYPE html>
<html ng-app="toDoModule">
<head>
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <meta charset="utf-8">

  <title>To Do List</title>
</head>

<body ng-controller="toDoController">
    <div id="container">
      <h1>To Do List:</h1>
    
     
    
       <input id="filter"type="text" placeholder="Filter" ng-model="choreFilter"/>
     

    <div id="list">
       <label id="toDoItem" ng-repeat="chore in chores | filter: choreFilter track by $index"> <button ng-click="removeChore(chore)"> {{chore}}</button></label>
    </div>

<form>
    <input id="input" type="text" placeholder="Chore" ng-model="choreToAdd"/>
    <input type="submit" id="button" value="Add to List" ng-click="onclick(choreToAdd)"/>
<br></br>
    <center><img src="images/chores2.jpg" id="picture"/></center>
</form>
</div>



<script src="angular.min.js"></script>
<script src="todo.js"></script>

</body>
</html>